<footer class="page-footer">
    <div class="container">
        <div class="page-footer__row">
            <nav class="page-footer__nav">
                <ul class="page-footer__nav-list">
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Покупателям
                        </a>
                        <ul class="page-footer__submenu-list">
                            <li class="page-footer__submenu-list-item">
                                <a href="#" class="page-footer__submenu-link">
                                    Проекты
                                </a>
                            </li>
                            <li class="page-footer__submenu-list-item">
                                <a href="#" class="page-footer__submenu-link">
                                    Квартиры
                                </a>
                            </li>
                            <li class="page-footer__submenu-list-item">
                                <a href="#" class="page-footer__submenu-link">
                                    Парковые и кладовые
                                </a>
                            </li>
                            <li class="page-footer__submenu-list-item">
                                <a href="#" class="page-footer__submenu-link">
                                    Акции и скидки
                                </a>
                            </li>
                            <li class="page-footer__submenu-list-item">
                                <a href="#" class="page-footer__submenu-link">
                                    Коммерческая недвижимость
                                </a>
                            </li>
                            <li class="page-footer__submenu-list-item">
                                <a href="#" class="page-footer__submenu-link">
                                    Аренда помещений
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Способы покупки
                        </a>
                        <ul class="page-footer__submenu-list">
                            <li class="page-footer__submenu-list-item">
                                <a href="#" class="page-footer__submenu-link">
                                    Оформление сделки онлайн

                                </a>
                            </li>
                            <li class="page-footer__submenu-list-item">
                                <a href="#" class="page-footer__submenu-link">
                                    Ипотека

                                </a>
                            </li>
                            <li class="page-footer__submenu-list-item">
                                <a href="#" class="page-footer__submenu-link">
                                    Trade-in

                                </a>
                            </li>
                            <li class="page-footer__submenu-list-item">
                                <a href="#" class="page-footer__submenu-link">
                                    Рассрочка

                                </a>
                            </li>
                            <li class="page-footer__submenu-list-item">
                                <a href="#" class="page-footer__submenu-link">
                                    Материнский капитал
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Жителям
                        </a>
                        <ul class="page-footer__submenu-list">
                            <li class="page-footer__submenu-list-item">
                                <a href="#" class="page-footer__submenu-link">
                                    Карта лояльности
                                </a>
                            </li>
                            <li class="page-footer__submenu-list-item">
                                <a href="#" class="page-footer__submenu-link">
                                    Управляющая компания
                                </a>
                            </li>
                            <li class="page-footer__submenu-list-item">
                                <a href="#" class="page-footer__submenu-link">
                                    Дизайн-проекты и отделка
                                </a>
                            </li>
                            <li class="page-footer__submenu-list-item">
                                <a href="#" class="page-footer__submenu-link">
                                    Арендный сервис
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            О нас
                        </a>
                        <ul class="page-footer__submenu-list">
                            <li class="page-footer__submenu-list-item">
                                <a href="#" class="page-footer__submenu-link">
                                    Кто мы

                                </a>
                            </li>
                            <li class="page-footer__submenu-list-item">
                                <a href="#" class="page-footer__submenu-link">
                                    Вакансии

                                </a>
                            </li>
                            <li class="page-footer__submenu-list-item">
                                <a href="#" class="page-footer__submenu-link">
                                    Новости

                                </a>
                            </li>
                            <li class="page-footer__submenu-list-item">
                                <a href="#" class="page-footer__submenu-link">
                                    Документы
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="page-footer__info">
                <div class="page-footer__copyright">
                    Все права на публикуемые на сайте материалы принадлежат Суварстроит. Любая информация,
                    представленная на данном сайте, носит исключительно информационный характер и ни при каких условиях
                    не является публичной офертой, определяемой положениями статьи 437 ГК РФ.
                </div>
                <div class="page-footer__links">
                    <div class="page-footer__link">
                        © Суварстроит 2015 — 2021
                    </div>
                    <a href="#" class="page-footer__link">
                        Политика конфиденциальности
                    </a>
                    <a href="#" class="page-footer__link">
                        Условия использования
                    </a>
                </div>
                <div class="page-footer__apps">
                    <a href="#" class="page-footer__app">
                        <img src="img/google-play.png" alt="" class="page-footer__app-logo">
                    </a>
                    <a href="#" class="page-footer__app">
                        <img src="img/appstore.png" alt="" class="page-footer__app-logo">
                    </a>
                </div>
                <a href="#" class="page-footer__made-by">
                    Создание сайта
                    <img src="img/mw-logo.svg" alt="" class="page-footer__made-by-logo">
                </a>
            </div>
        </div>
    </div>
</footer>