<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <div class="menu">
                <div class="menu__inner">


                    <div class="container">
                        <div class="menu__row">
                            <div class="menu__col">
                                <div class="menu__col-wrapper">
                                    <a href="#" class="menu__nav-link">
                                        Акции
                                    </a>
                                    <a href="#" class="menu__nav-link">
                                        Выбор квартиры
                                    </a>
                                    <a href="#" class="menu__nav-link">
                                        Для новоселов
                                    </a>
                                    <a href="#" class="menu__nav-link">
                                        Коммерция
                                    </a>
                                    <a href="#" class="menu__nav-link">
                                        Парковки
                                    </a>
                                    <a href="#" class="menu__nav-link">
                                        Офисы продаж
                                    </a>
                                </div>
                            </div>
                            <div class="menu__col">
                                <div class="menu__col-wrapper">


                                    <a href="#" class="menu__nav-link">
                                        Офисы продаж
                                    </a>
                                    <ul class="menu__submenu-list">
                                        <li class="menu__submenu-list-item">
                                            <a href="#" class="menu__submenu-link">
                                                Новости
                                            </a>
                                        </li>
                                        <li class="menu__submenu-list-item">
                                            <a href="#" class="menu__submenu-link">
                                                Агентствам недвижимости
                                            </a>
                                        </li>
                                        <li class="menu__submenu-list-item">
                                            <a href="#" class="menu__submenu-link">
                                                Вакансии
                                            </a>
                                        </li>
                                        <li class="menu__submenu-list-item">
                                            <a href="#" class="menu__submenu-link">
                                                Контакты
                                            </a>
                                        </li>
                                        <li class="menu__submenu-list-item">
                                            <a href="#" class="menu__submenu-link">
                                                Партнерам
                                            </a>
                                        </li>
                                        <li class="menu__submenu-list-item">
                                            <a href="#" class="menu__submenu-link">
                                                Страница для новоселов
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="menu__col">
                                <div class="menu__col-wrapper">


                                    <a href="#" class="menu__nav-link">
                                        Жилые комплексы
                                    </a>
                                    <ul class="menu__submenu-list">
                                        <li class="menu__submenu-list-item">
                                            <a href="#" class="menu__submenu-link">
                                                Лаишевский узел
                                            </a>
                                        </li>
                                        <li class="menu__submenu-list-item">
                                            <a href="#" class="menu__submenu-link">
                                                Станция Спортивная
                                            </a>
                                        </li>
                                        <li class="menu__submenu-list-item">
                                            <a href="#" class="menu__submenu-link">
                                                Южный парк
                                            </a>
                                        </li>
                                        <li class="menu__submenu-list-item">
                                            <a href="#" class="menu__submenu-link">
                                                Времена года
                                            </a>
                                        </li>
                                        <li class="menu__submenu-list-item">
                                            <a href="#" class="menu__submenu-link">
                                                Манхэттен
                                            </a>
                                        </li>
                                        <li class="menu__submenu-list-item">
                                            <a href="#" class="menu__submenu-link">
                                                Столичный
                                            </a>
                                        </li>
                                        <li class="menu__submenu-list-item">
                                            <a href="#" class="menu__submenu-link">
                                                Залесный сити
                                            </a>
                                        </li>
                                        <li class="menu__submenu-list-item">
                                            <a href="#" class="menu__submenu-link">
                                                Сказочный лес
                                            </a>
                                        </li>
                                        <li class="menu__submenu-list-item">
                                            <a href="#" class="menu__submenu-link">
                                                Палитра
                                            </a>
                                        </li>
                                        <li class="menu__submenu-list-item">
                                            <a href="#" class="menu__submenu-link">
                                                Август Астры
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="menu__col">
                                <div class="menu__col-wrapper">


                                    <a href="#" class="menu__nav-link">
                                        Сервисы
                                    </a>
                                    <ul class="menu__submenu-list">
                                        <li class="menu__submenu-list-item">
                                            <a href="#" class="menu__submenu-link">
                                                Служба Заботы
                                            </a>
                                        </li>
                                        <li class="menu__submenu-list-item">
                                            <a href="#" class="menu__submenu-link">
                                                Чистовая отделка
                                            </a>
                                        </li>
                                        <li class="menu__submenu-list-item">
                                            <a href="#" class="menu__submenu-link">
                                                Арендный сервис
                                            </a>
                                        </li>
                                        <li class="menu__submenu-list-item">
                                            <a href="#" class="menu__submenu-link">
                                                Карта Лояльности
                                            </a>
                                        </li>
                                        <li class="menu__submenu-list-item">
                                            <a href="#" class="menu__submenu-link">
                                                Trade-In
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="page-header__logo">
                <img src="img/logo.svg" alt="" class="page-header__logo-image" width="198">
            </a>
            <div class="page-header__contacts">
                <a href="tel:88002223790" class="page-header__contacts-phone"><span>8 800 222-37-90</span></a>
                <div class="page-header__contacts-text">
                    <p>
                        Работаем ежедневно с 10:00 до 20:00
                    </p>
                </div>
            </div>
            <div class="page-header__nav-wrapper">


                <nav class="page-header__nav">
                    <ul class="page-header__nav-list">
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Квартиры
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Ипотека
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Коммерция
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Управляющая компания
                            </a>
                        </li>
                    </ul>
                </nav>
                <a href="tel:88002223790" class="page-header__mobile-phone-link">

                    <svg width="14" height="14" aria-hidden="true" class="icon-phone">
                        <use xlink:href="#phone"></use>
                    </svg>
                </a>
                <button class="page-header__burger">
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
    </div>
</header>