<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <a href="#" class="page-header__logo">
                <img src="img/logo.svg" alt="" class="page-header__logo-image" width="198">
            </a>
            <div class="page-header__contacts">
                <a href="tel:88002223790" class="page-header__contacts-phone"><span>8 800 222-37-90</span></a>
                <div class="page-header__contacts-text">
                    <p>
                        Работаем ежедневно с 10:00 до 20:00
                    </p>
                </div>
            </div>
            <div class="page-header__nav-wrapper">


                <nav class="page-header__nav">
                    <ul class="page-header__nav-list">
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Квартиры
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Ипотека
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Коммерция
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Управляющая компания
                            </a>
                        </li>
                    </ul>
                </nav>
                <a href="tel:88002223790" class="page-header__mobile-phone-link">

                    <svg width="14" height="14" aria-hidden="true" class="icon-phone">
                        <use xlink:href="#phone"></use>
                    </svg>
                </a>
                <button class="page-header__burger">
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
    </div>
</header>